@import 'tailwindcss';

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  background-image: url("bg/bg_gradient.png");
  background-size: auto 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

